<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="description" content="{{ site.description }}" />
	<meta name="author" content="{{ site.title }}" />
	<meta name="keywords" content="{{ site.keywords }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<koken:if data="location.here" equals="/"><meta property="og:image" content="http://tomoki.pl/logo-big.png" /></koken:if>
	<link rel="shortcut icon" href="/favicon.ico" />

	<koken:title />

	<koken:asset file="js/spamspan.js" />

	<!-- css -->
	<koken:asset file="reset.css" common="true" />
	<koken:asset file="css/skeleton.css" />
	<koken:asset file="css/kicons.css" />
	<koken:asset file="css/socialcount.min.css" />

	<koken:settings />

	<link href='//fonts.googleapis.com/css?family=Gentium+Basic:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

	<link href='//fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

</head>

<body>

	<koken:if true="settings.social_bttns_show_two">
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
	</koken:if>

	<div id="wrapper" class="container">

		<div class="row">

			<header class="top clearfix">

				<koken:link to="front" title="{{ labels.home.singular }}"><img src="{{ settings.site_title_img_url }}" alt="{{ site.title }}" class="logo"></koken:link>

				<div class="title">
					<h1><koken:link to="front" title="{{ labels.home.singular }}">{{ site.title }}</koken:link></h1>
					<koken:if true="settings.show_tagline">
						<h2>{{ site.tagline }}</h2>
					</koken:if>

					<span class="spamspan">
						<span class="u">tomoki</span>
						[at]
						<span class="d">tomoki [dot] pl</span>
					</span> +48 505 978 666
				</div>					

				<nav>
					<koken:navigation />
				</nav>
			</header>

		</div>