/* FEATURED SLIDESHOW TEMPLATE MODS - COLOR MODS IN MAIN SETTINGS
---------------------------------------------------------------- */

html,body {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}

body {
	position:relative;
}

header.main {
	position:absolute;
	z-index:100;
}

div#container { height:100%; }

.k-note-pulse { text-align:center; }

/* not enough room - hide */
@media only screen and (max-width: 767px) {
	footer.main { display:none; }
}