/*
  HIDESHARE CSS
*/
.hideshare-wrap {
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.hideshare-wrap .hideshare-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.hideshare-wrap li {
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin: 10px 5px 0;
}
.hideshare-wrap span {
  display: none;
}
/*
  Example CSS
*/
.share {
}
.hideshare-list a {
  font-size: 0.7em;
}
.hideshare-list a:hover {
  color: #666;
}
